<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.xym.web.shop.order.mapper.ServiceOrderMapper">


    <select id="selectPageVo" resultType="top.xym.web.shop.order.entity.ServiceOrder">
        SELECT
            o.*,
            s.name AS serviceTitle,
            u.username,
            u.nick_name AS nickName,
            u.phone,
            u.email,
            st.name AS staffName
        FROM service_orders o
            LEFT JOIN services s ON o.service_id = s.id
            LEFT JOIN sys_user u ON o.user_id = u.user_id
            LEFT JOIN service_staff st ON o.staff_id = st.id
        <where>
            ${ew.sqlSegment}
        </where>
    </select>

    <!-- 联表查询订单详情（包含用户信息） -->
    <select id="selectTenantDetail" resultType="top.xym.web.shop.order.entity.ServiceOrder">
        SELECT o.*,
               s.name AS serviceTitle,
               u.username,
               u.nick_name AS nickName,
               u.phone,
               u.email,
               st.name AS staffName
        FROM service_orders o
             LEFT JOIN services s ON o.service_id = s.id
             LEFT JOIN sys_user u ON o.user_id = u.user_id
             LEFT JOIN service_staff st ON o.staff_id = st.id
        WHERE o.id = #{id}
    </select>

    <!-- 1. 已完成总金额 status=4 -->
    <select id="getTotalCompletedAmount" resultType="java.math.BigDecimal">
        SELECT IFNULL(SUM(pay_amount), 0)
        FROM service_orders
        WHERE merchant_id = #{merchantId}
          AND deleted = 0
          AND status = 4
    </select>

    <!-- 2. 已退款总金额 status=8 -->
    <select id="getTotalRefundedAmount" resultType="java.math.BigDecimal">
        SELECT IFNULL(SUM(pay_amount), 0)
        FROM service_orders
        WHERE merchant_id = #{merchantId}
          AND deleted = 0
          AND status = 8
    </select>


</mapper>